.listContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 15px;
    justify-content: space-evenly;
}

.card {
    background: #3d5c9c;
    border-radius: 10px;
    width: 258px;
    overflow: hidden;
    cursor: pointer;

    .moviePoster {
        width: 100%;
        height: 390px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.2s ease-in-out;
        }
    }

    .info {
        padding: 15px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        h4 {
            padding: 0;
            margin: 0;
            width: 70%;
        }

        .progressRateContainer {
            position: relative;

            .rating {
                position: absolute;
                top: 14px;
                left: 14px;
            }

            .progressBar {
                width: 50px;
                height: 50px;
                border-radius: 50%;

                progress {
                    visibility: hidden;
                    height: 0;
                    width: 0;
                }
            }
        }
    }
    &:hover {
        .moviePoster {
            img {
                transform: scale(1.5);
            }
        }
    }
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    .modal {
        border-radius: 10px;
        width: 1024px;
        text-align: center;
        overflow: hidden;
        position: relative;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                90deg,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 0) 100%
            );
        }
        .modalBody {
            position: absolute;
            left: 0;
            bottom: 0;
            width: calc(100% - 60px);
            height: 100%;
            color: #fff;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: flex-start;
            text-align: left;
            h2 {
                font-size: 35px;
            }
        }
        .closeButton {
            background: transparent;
            border: 0;
            padding: 10px 20px;
            cursor: pointer;
            position: absolute;
            right: 15px;
            top: 0;
            z-index: 2;
            &:after {
                content: "\00d7";
                font-size: 40px;
                color: #fff;
            }
        }
    }
}
