.listContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 15px;
    justify-content: space-evenly;
}

.card {
    background: #3d5c9c;
    border-radius: 10px;
    width: 258px;
    overflow: hidden;
    .moviePoster {
        width: 100%;
        height: 390px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
