header {
    background: #222323;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

    .logo {
        width: 33%;

        img{
            width: 150px;
        }
    }
    
                .headerButton {
        width: 33%;
        text-align: right;
    
        button {
            background: #3d5c9c;
            color: #fff;
            padding: 10px 20px;
            border-radius: 10px;
            font-size: 16px;
            border: 1px solid #3d5c9c;
            cursor: pointer;
            width: 205px;
            transition: all 0.2s ease;
            svg {
                    position: relative;
                    top: 3px;
                    right: 5px;
                }
            &:hover {
                background: #fff;
                color: #3d5c9c;
            }
        }
    }
}