.searchContainer {
    width: 33%;
    text-align: center;

    input {
        padding: 10px;
        border-radius: 5px;
        border: 0;
        width: 300px;
        background: #8E24AA;
        color: #fff;
        font-size: 18px;
        &:focus {
            outline: none;
            background: #fff;
            color: black;
        }
    }
}
