body {
    background-color: #282c34;
}

::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: #fff;
}

.loader {
  text-align: center;
  font-size: 1.5rem;
  color: #555;
  margin: 20px 0;
}
